@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');
::-webkit-scrollbar{
    display: none;
}

body{
    font-family: 'Roboto', sans-serif;
    
}


.navbar {
    
    background-color: rgba(224, 214, 214, 0.5);
   
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.carousel-item img{
    height: 600px;
    object-fit: cover;
}
.carousel-caption h1{
    font-family: 'Fira Sans', sans-serif;
}
h2{
    font-family: 'Fira Sans', sans-serif; 
}
.nav-link{
    font-size: 21px;
    color: rgb(42, 39, 39);
    margin: 0px 5px;
}




.card-img-top{
    margin: auto;
    margin-top: 10px;
}

#review{
    background-image: url(img/bg3.jpg);
    background-size: cover;
    background-position: center;
    
}
footer{
    background-color: black;
    color: white;
}